html {
    height: 100%;
    display: flex;
    justify-content: center;
}
body {
    width: fit-content;
    display: block;
    justify-content: center;
    font-size: 2em;
    background-color: aliceblue;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em; 
    border-radius: 20px;
}