html {
  height: 100%;
  display: flex;
  justify-content: center;
}
body {
  width: 70%;
  display: block;
  font-size: 1em;
  background-color: aliceblue;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.voter-list {
  width: 100%;
  font-size: 2em;
}
.voter-list a {
  background-color: #ffffff;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  border-style: solid;
  border-width: thin;
  box-sizing: border-box;
}
.voter-list a:hover {
  background-color: #ddd6f3;
}
#statsbutton {
  text-decoration: none;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 4px 2px;
  cursor: pointer;
}

/*csv input*/

form {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  font-family: sans-serif;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #444;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  color: #444;
}

input[type="submit"] {
  background-color: #222;
  color: #fff;
  padding: 10px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}

