html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    width: 100%;
    display: block;
    justify-content: center;
    font-size: 2em;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#voterbutton {
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
#buttondiv {
    height:60px;
}
a:visited {
    color: black;
}
#chart_wrap {
    /* padding-bottom: 100%; */
    height: 50%;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}
#chart {
    position: relative;
    width:100%;
    height:100%;
}