<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'surveystyle.css' %}">
</head>
<script>
    submitForms = function() {
        document.getElementById("optionsform").submit();
        document.getElementById("form2").submit();
    }
</script>
<body>
    <div class="voterinfo">
        <p>Name: {{ voter.name }}</p>
        <p>Address: {{ voter.address }}</p>
    </div>
    <div class="voteoptions">
        <form method="POST" enctype="multipart/form-data">  
            {% csrf_token %} 
            <div class="form-group">
                <label>Please select and option below</label>
                {{ form.decision }}  
            </div>
            <div>
                <label>Notes<br></label>
                {{ form.notes }}
            </div>
        <input type="button" value="Click Me!" onclick="submitForms()" />
    </div>
    <div>

    </div>
</body>
</html>