<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'liststyle.css' %}">
</head>
<body>
    <div style="text-align:center;">
        <h1>Voters</h1>
    </div>
    <div>
        <a href="{% url 'stats' %}" id="statsbutton">Stats</a>
    </div>
    <div class="voter-list">
        {% for voter in object_list %}
            {% if voter.decision %}
                <a style="background-color: grey" href="{% url 'survey' %}?id={{ voter.id }}"><b>{{ voter.name }}</b><br>{{ voter.address }}</a>
            {% else %}
                <a href="{% url 'survey' %}?id={{ voter.id }}"><b>{{ voter.name }}</b><br>{{ voter.address }}</a>
            {% endif %}

        {% endfor %}
    </div>
</body>
</html>